#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "mck_i" SITE "P5";
IOBUF PORT "mck_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "mck_i" 25 MHZ;

LOCATE COMP "lrck_i" SITE "P2";
IOBUF PORT "lrck_i" IO_TYPE=LVCMOS33;

LOCATE COMP "bck_i" SITE "R2";
IOBUF PORT "bck_i" IO_TYPE=LVCMOS33; 

LOCATE COMP "data_i" SITE "N6";
IOBUF PORT "data_i" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_i" SITE "R7";
IOBUF PORT "rst_i" IO_TYPE=LVCMOS33;


##--
LOCATE COMP "sclk" SITE "T14";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "sclk2" SITE "N4";
IOBUF PORT "sclk2" IO_TYPE=LVCMOS33 DRIVE=16;

LOCATE COMP "sync" SITE "N3";
IOBUF PORT "sync" IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "sync2" SITE "P4";
IOBUF PORT "sync2" IO_TYPE=LVCMOS33 DRIVE=16;

LOCATE COMP "sdo2" SITE "B16";
IOBUF PORT "sdo2" IO_TYPE=LVCMOS33;
LOCATE COMP "sdo3" SITE "B15";
IOBUF PORT "sdo3" IO_TYPE=LVCMOS33;
LOCATE COMP "sdo" SITE "N5";
IOBUF PORT "sdo" IO_TYPE=LVCMOS33;
LOCATE COMP "sdo1" SITE "P3";
IOBUF PORT "sdo1" IO_TYPE=LVCMOS33;
